#XfceNotifyWindow {
    background-color: #2C2C2C;
    border-radius: 4px;
    border: 1px solid #1F1F1F;
    padding: 4px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #ebebeb;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: none;
    border-radius: 4px;
    border-color: transparent;
    background-color: #222B39;
}

#XfceNotifyWindow button label,
#XfceNotifyWindow button image {
    color: white;
}    
    
#XfceNotifyWindow button:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    background-image: none;
    background-color: rgba(54, 102, 177, 0.4);
}

#XfceNotifyWindow button:active {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    background-image: none;
    background-color: #3666B1;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #3666B1;
}

#XfceNotifyWindow progressbar trough {
    background-image: none;
    background-color: #4D4D4D;
    border-radius: 0px;
}
